[Desktop Entry]
Encoding=UTF-8
Name=Eternal Lands Map Viewer
Comment=Navigate Eternal Lands (tab) maps and view/search your map marks
Exec=elmapviewer.py
Icon=elmapviewer.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;AdventureGame;
