# anything starting with # ignored

# anything word = .... treaded as program variable
mapdir = /usr/local/games/EternalLands/maps/
userdir = ~/.elc/
scale = 1.0
fullscreen = 0
boxesOn = 1
marksOn = 1
editor = $EDITOR
markfontsize = 20
statusfontsize = 25
mainborderx = 21
mainbordery = 5
# option to disable esc key exit
noesc = 0
