Source: elmapviewer
Section: utils
Priority: optional
Maintainer: Paul Broadhead <pjbroad@twinmoons.clara.co.uk>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://sourceforge.net/projects/elmapviewer/

Package: elmapviewer
Architecture: all
Depends: ${misc:Depends}, python, python-gobject, python-gtk2, python-notify, python-gconf, python-pygame
Description: Display Eternal Lands maps and map marks
 Displays Eternal Lands maps and allows the user to navigate the maps
 using map links.  Users game map marks are also displayed and can be
 filtered using a search function. Eternal Lands is a FREE MMORPG
 (massively multiplayer online role playing game). See
 http://www.eternal-lands.com/
